{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Student Details</h3>
<hr />

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> {{student}}
            </div>
            <div class="card-body shadow-lg bg-body rounded">
                <div class="text-center">
                    <img class="profile-pic-lg" src="{{student.picture.url}}">
                </div>
                <hr />
                <table class="table">
                    <tr><th>STUDENT</th></tr>
                    <tr><td>Student Number: <strong>{{student.student_number}}</strong></td></tr>
                    <tr><td>Name: <strong>{{student}}</strong></td></tr>
                    <tr><td>Date of Birth: <strong>{{student.date_of_birth}}</strong></td></tr>
                    <tr><td>Subjects: <strong>
                            {% for subject in subjects %}
                                {{ subject.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</strong>
                    </td></tr>
                    <tr><td>Phone: <strong>{{student.phone}}</strong></td></tr>
                    <tr><td>Nationality: <strong>{{student.nationality}}</strong></td></tr>
                    <tr><td>Passport Number: <strong>{{student.passport_number}}</strong></td></tr>
                    <tr><td>Email: <strong>{{student.email}}</strong></td></tr>
                    <tr><td>Enrolment Date: <strong>{{student.enrolment_date}}</strong></td></tr>
                </table>
                <a href="/student_list/" class="btn btn-primary float-end" role="button">Back</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}