{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Welcome <strong>{{ student }}</strong></h3>
<hr />
<div class="row justify-content-center">
    <div class="col-9 col-sm-7 col-md-4 col-xl-3">
        <div class="card bg-light mb-3">
            <div class="card-header bg-primary text-light">
                 Profile: {{student}}
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 300px;">
                <div class="text-center">
                    {% if student.picture %}
                        <img class="profile-pic" src="{{student.picture.url}}">
                    {% else %}
                        No Picture
                    {% endif %}
                </div>
                <hr />
                <table class="table">
                    <tr><td>Student Number: <strong>{{student.student_number}}</strong></td></tr>
                    <tr><td>Name: <strong>{{student}}</strong></td></tr>
                    <tr><td>Date of Birth: <strong>{{student.date_of_birth}}</strong></td></tr>
                    <tr><td>Subjects: <strong>
                            {% for subject in subjects %}
                                {{ subject.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</strong>
                    </td></tr>
                    <tr><td>Phone: <strong>{{student.phone}}</strong></td></tr>
                    <tr><td>Nationality: <strong>{{student.nationality}}</strong></td></tr>
                    <tr><td>Passport Number: <strong>{{student.passport_number}}</strong></td></tr>
                    <tr><td>Email: <strong>{{student.email}}</strong></td></tr>
                    <tr><td>Enrolment Date: <strong>{{student.enrolment_date}}</strong></td></tr>
                </table>

            </div>
        </div>
    </div>

    <div class="col-9 col-sm-7 col-md-4 col-xl-3">
        <div class="card bg-light mb-3">
            <div class="card-header bg-info text-light">
                <i class="fa-solid fa-address-card fa-lg"></i><strong> {{student}} </strong>
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 300px;">
                <p>Welcom <strong>{{ student }} !</strong></p>
                <p>Info coming soon! <br />Awaiting assessment.</p>
            </div>
        </div>
    </div>
        <div class="col-9 col-sm-7 col-md-4 col-xl-3">
        <div class="card bg-light mb-3">
            <div class="card-header bg-su<p>Welcom <strong>{{ student }} !</strong></p>ccess text-light">
                <i class="fa-solid fa-address-card fa-lg"></i><strong> {{student}} </strong>
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 300px;">
                    <p>Information coming soon! <br />Awaiting assessment.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}