{% extends 'cmsmain/base.html' %}

{% load custom_filters %}
{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Assessment Marks</h3>
<hr />

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col col-md">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    Assessment Marks for {{ student }}
                </div>
                <div class="card-body shadow-lg bg-body rounded">
                    <h5>Please select filter to narrow down search</h5>
                    <br />
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Filter</button>
                    </form>
                    <br />
                    {% if subjects %}
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Weighted<br />Total</th>
                                {% for exam_name in all_exam_names %}
                                    {% for exam in all_exams %}
                                        {% if exam.name == exam_name %}
                                        <th>{{ exam }}<br>({{exam.total}}) ({{exam.weight}}%)</th>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                                <tr>
                                    <td>{{ subject.name }}</td>
                                    <td>{{ totals_dict|dict_get:subject }}</td>
                                    {% for exam_name in all_exam_names %}
                                        {% for exam in all_exams %}
                                            {% if exam.name == exam_name %}
                                                <td>{{ exams_dict|dict_get:subject|dict_get:exam_name }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No exam marks available.</p>
                    {% endif %}

                    <a class="btn btn-info" href="{% url 'custom_page' %}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}