{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Assignment Details</h3>
<hr />

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col col-md">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    {{ assignment }}
                </div>
                <div class="card-body shadow-lg bg-body rounded">
                    <table class="table">
                        <tr><th>ASSIGNMENT</th></tr>
                        <tr><td>Assignment: <strong>{{assignment.name}}</strong></td></tr>
                        <tr><td>Teacher: <strong>{{assignment.teacher}}</strong></td></tr>
                        <tr><td>Subject: <strong>{{assignment.subject}}</strong></td></tr>
                        <tr><td>Term: <strong>{{assignment.term}}</strong> => <strong>{{term_start}}</strong> to <strong>{{term_end}}</strong></td></tr>
                        <tr><td>Description: <strong>{{assignment.description}}</strong></td></tr>
                        <tr><td>Location: <strong>{{building}}</strong> - <strong>{{room}}</strong></td></tr>
                        <tr><td>Due Date: <strong>{{assignment.due_date}}</strong></td></tr>
                    </table>
                    <a href="/assignment_list/" class="btn btn-primary float-end" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}