{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h2 class="text-center mt-2">Exam Management</h2>
<hr class="mt-0 mb-2">
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col col-md">
            <div class="card card-body shadow-lg bg-body rounded">
                <table class="table">
                    <tr>
                        <th> Exam</th>
                        <th> Teacher</th>
                        <th> Subject</th>
                        <th> Date</th>
                    </tr>
                    {% for exam in exam_list %}
                        <tr>
                            <td> {{exam.name}} </td>
                            <td> {{exam.teacher}} </td>
                            <td> {{exam.subject}} </td>
                            <td> {{exam.date}} </td>
                            <td> 
                                <a class="btn btn-success btn-sm" href="{% url 'exam_detail' exam.id %}">Detail</a>
                                <a class="btn btn-info btn-sm" href="{% url 'exam_update' exam.id %}">Update</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'exam_delete' exam.id %}">Delete</a>
                            </td>    
                        </tr>
                    {% endfor %}
                </table>
                <a class="btn btn-info" href="{% url 'custom_page' %}">Back</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}