{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Exam Details</h3>
<hr />

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col col-md">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    {{ exam }}
                </div>
                <div class="card-body shadow-lg bg-body rounded">
                    <table class="table">
                        <tr><th>EXAM</th></tr>
                        <tr><td>Exam: <strong>{{exam.name}}</strong></td></tr>
                        <tr><td>Teacher: <strong>{{exam.teacher}}</strong></td></tr>
                        <tr><td>Subject: <strong>{{exam.subject}}</strong></td></tr>
                        <tr><td>Term: <strong>{{exam.term}}</strong> => <strong>{{term_start}}</strong> to <strong>{{term_end}}</strong></td></tr>
                        <tr><td>Description: <strong>{{exam.description}}</strong></td></tr>
                        <tr><td>Date: <strong>{{exam.date}}</strong></td></tr>
                    </table>
                    <a href="/exam_list/" class="btn btn-primary float-end" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}