{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Location Details</h3>
<hr />

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col col-md">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    {{ location }}
                </div>
                <div class="card-body shadow-lg bg-body rounded">
                    <table class="table">
                        <tr><th>LOCATION</th></tr>
                        <tr><td>Location Code: <strong>{{location.location_code}}</strong></td></tr>
                        <tr><td>Building: <strong>{{location.building}}</strong></td></tr>
                        <tr><td>End Date: <strong>{{location.room}}</strong></td></tr>
                    </table>
                    <a href="/location_list/" class="btn btn-primary float-end" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}