{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h2 class="mt-2 text-center"><img src="/static/img/favicon.png" alt="" width="50" height="50" class="d-inline-block" href="#"> Royal Crown College Administration</h2>
<hr />


<div class="row justify-content-center">
    <div class="col-10 col-sm-7 col-md-4 col-xl-3">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header bg-primary text-light">
                <i class="fa-solid fa-graduation-cap fa-lg"></i> Students
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 250px;">
                <h3>Students Enrolled</h3>
                <h1 class="display-1 text-danger"><strong>{{ total_students }}</strong></h1>
            </div>
        </div>
    </div>
    <div class="col-10 col-sm-7 col-md-4 col-xl-3">
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header bg-info text-light">
                <i class="fa-solid fa-address-card fa-lg"></i> Teachers 
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 250px;">
                <h3>Teachers Available</h3>
                <h1 class="display-1 text-danger"><strong>{{ total_teachers }}</strong></h1>
            </div>
        </div>
    </div>
    <div class="col-10 col-sm-7 col-md-4 col-xl-3">
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header bg-success text-light">
                <i class="fa-solid fa-address-card fa-lg"></i> {{user}}
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 250px;">
                    <p><strong>{{user}}</strong> lands on <strong>{{group}}</strong> group.</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}