{% extends "cmsmain/base.html" %}

{% block content %}

{% if operation == 'create' %}
    <h3 class="text-center m-4"> Add New Teacher</h3>
{% elif operation == 'update' %}
    <h3 class="text-center m-4"> Update Teacher</h3>
{% endif %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Teacher Form
            </div>
            <div class="card-body shadow-lg bg-body rounded">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


