{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h1 class="text-center mt-2">Teacher Management</h1>
<hr class="mt-0 mb-2">
<div class="d-flex justify-content-center">
<div class="row">
    <div class="col col-md">
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th> Teacher</th>
                    <th> Phone</th>
                    <th> Email</th>
                    <th> Action </th>
                </tr>
                {% for teacher in teacher_list %}
                    <tr>
                        <td> {{teacher}} </td>
                        <td> {{teacher.phone}} </td>
                        <td> {{teacher.email}} </td>
                        <td> 
                            <a class="btn btn-success btn-sm" href="{% url 'teacher_detail' teacher.id %}">Detail</a>
                            <a class="btn btn-info btn-sm" href="{% url 'teacher_update' teacher.id %}">Update</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'teacher_delete' teacher.id %}">Delete</a>
                        </td>    
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>
<div class="d-flex justify-content-center">
    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    <br />
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</div>


{% endblock %}