{% extends "cmsmain/base.html" %}

{% block content %}


<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col col-md">
            <div class="card bg-light my-4 mb-3">
                <div class="card-header">
                    Exam Selection Form
                </div>
                <div class="card-body shadow-lg bg-body rounded">
                    <form method="post">
                        {% csrf_token %}
                        <label for="exam">Select Exam:</label>
                        <select name="exam_id" id="exam">
                            {% for exam in exams %}
                                <option value="{{ exam.id }}">{{ exam.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Show Results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
