{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Welcome <strong> {{ teacher }}</strong></h3>
<hr />

<div class="row justify-content-center">
    <div class="col-10 col-sm-7 col-md-4 col-xl-3">
        <div class="card bg-light mb-3">
            <div class="card-header bg-primary text-light">
                <i class="fa-solid fa-address-card fa-lg"></i> {{teacher}}
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 300px;">                       
                <table class="table">
                    <tr><td>Name: <strong>{{teacher}}</strong></td></tr>
                    <tr><td>Subjects: <strong>
                            {% for subject in subjects %}
                                {{ subject.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</strong>
                    </td></tr>
                    <tr><td>Phone: <strong>{{teacher.phone}}</strong></td></tr>
                    <tr><td>Email: <strong>{{teacher.email}}</strong></td></tr>
                    <tr><td>Date Joined: <strong>{{teacher.date_joined}}</strong></td></tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-10 col-sm-7 col-md-4 col-xl-3">
        <div class="card bg-info mb-3">
            <div class="card-header bg-info text-light">
                <i class="fa-solid fa-users fa-lg"></i> <strong> Assigned Classes </strong>
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 300px;">
                <p>Welcome <strong>{{ teacher }} !</strong></p>
                <strong>Total Classes Assigned</strong><h2 class="text-danger">{{ running_classes }}</h2>
                <table class='table'>
                    {% for value in class_list %}
                        <tr>
                            <td>
                                {{value}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        <div class="col-10 col-sm-7 col-md-4 col-xl-3">
        <div class="card bg-success mb-3">
            <div class="card-header bg-success text-light">
                <i class="fa-solid fa-address-card fa-lg"></i> <strong> Information </strong>
            </div>
            <div class="card-body shadow-lg bg-body rounded card-text" style="height: 300px;">
                    <p>Hello <strong>{{ teacher }}</strong></p>
                    <p>This space here will shortly be populated after assessment !</p> 
            </div>
        </div>
    </div>
</div>



{% endblock %}