{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Password Reset Complete</h3>
<hr />

<div class="row justify-content-center">
    <div class="col-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Success!
            </div>
            <div class="card-body shadow-lg bg-body rounded">
                <strong>Password Reset Successfully</strong>
            <a href="/student_list/" class="btn btn-primary float-end" role="button">Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}