{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Password Changed</h3>
<hr />

<div class="row justify-content-center">
    <div class="col-4">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Change Password
            </div>
            <div class="card-body shadow-lg bg-body rounded">
                <strong>Your Password has been Changed!</strong>
                <a href="{% url 'custom_page' %}" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>
    
</div>{% endblock %}