{% extends 'cmsmain/base.html' %}

{% load static %}
{% block content %}


<h3 class="mt-2 text-center">Password Change</h3>
<hr />

<div class="row justify-content-center">
    <div class="col-5">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Change Your Password
            </div>
            <div class="card-body shadow-lg bg-body rounded">
                <h2>Change Your Password</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="float-end btn btn-primary" type="submit" value="Submit">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
